.section {
  display: flex;

  .id {
    display: inline;
    margin-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    font-family: forma-djr-text, sans-serif;
    font-weight: 100;
  }

  .section-title {
    font-family: ivymode, serif;
    font-weight: 500;
    font-size: 2em;
    display: inline;
    color: #ffffff;
  }

  .section-description {
    font-family: forma-djr-text, sans-serif;
    font-weight: 100;
    display: inline;
    color: #ffffff;
    font-size: 0.8em;
    letter-spacing: 2px;
    top: 10px;
    padding-top: 21px;
    padding-left: 20px;
  }

  .bold {
    color: rgb(255, 233, 185) !important;
  }
}

@media (max-height: 1080px) {
  .section {
    margin-bottom: 0;

    .section-title {
      font-size: 1.3em;
    }

    .section-description {
      padding-top: 10px;
      font-size: 0.7em;
    }

    .id {
      padding-top: 3px;
    }
  }
}

.inview-split-parent {
  overflow: hidden;
}

.inview-split-child {
  display: inline-block;
}
