.section {
  display: flex;
  margin-bottom: 1em;

  .id {
    display: inline;
    margin-right: 15px;
    color: #111111;
    font-family: condor-compressed, sans-serif;
    font-weight: 200;
  }

  .section-title {
    font-family: ivymode, serif;
    font-weight: 500;
    font-size: 2em;
    display: inline;
    color: #111111;
  }
}

@media (max-height: 1080px) {
  .section {
    margin-bottom: 0;

    .section-title {
      font-size: 1.3em;
    }
  }
}

.inview-split-parent {
  overflow: hidden;
}

.inview-split-child {
  display: inline-block;
}
