.section {
  display: block;
  padding-bottom: 1em;

  .id {
    display: inline;
    margin-right: 15px;
    color: #999999;
    font-family: condor-compressed, sans-serif;
    font-weight: 200;
  }

  .section-title {
    font-family: ivymode, serif;
    font-weight: 500;
    font-size: 2em;
    display: inline;
    color: #666666;
  }
}

@media (max-height: 900px) {
  .section {
    padding-bottom: 0;
  }
}
