/* curtains canvas container */

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* basic plane */

.curtains-plane {
  width: 80vw;
  max-width: 1400px;
  height: 80vh;
  position: relative;
  top: 10vh;
  margin: 0 auto;

  img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.disabled-image {
      display: block;
    }

    &.mouse-opacity-image {
      display: block;
      object-fit: cover;
    }
  }
}

#webgl-curtains-page {
  height: 0;
}
