#jellicent-details {
  color: white;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  border: 1px white solid;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
