.text-logo {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 1500;
  border-color: black;
  user-select: none;
}

.inview-split-parent {
  overflow: hidden;
}

.inview-split-child-1,
.inview-split-child-2 {
  display: inline-block;
}

.inview-split-child-1:first-child,
.inview-split-child-2:first-child {
  letter-spacing: -5px;
}

.subtext-logo {
  position: absolute;
  top: 90px;
  left: 60px;
  z-index: 150;
  font-family: upgrade-lights, sans-serif;
  letter-spacing: 5px;
  font-weight: 800;
}
