.description {
  padding: 150px;
  display: flex;
  justify-content: flex-start;

  .date {
    padding-right: 20%;
  }

  .description-text {
    width: 30%;
  }
}

@media (max-height: 1080px) {
  .description {
    padding: 75px;

    .description-text,
    .date {
      font-size: 0.8em;
    }
  }
}
