@import '../../style';

.drumheller-section-one {
  @extend .drumheller-section;

  padding-left: 200px;
  width: 2560px;

  @media (max-width: 1440px) {
    width: 2200px;
  }

  .drumheller-textblock {
    position: absolute;
    top: 25vh;
    width: 800px;
  }

  @media (max-height: 900px) {
    .drumheller-textblock {
      top: 15vh;
    }
  }

  .text {
    @include title-font;

    .primary {
      line-height: 90%;
    }

    .secondary {
      padding-left: 0.5em;
    }
  }

  .description {
    @include description-font;

    width: 500px;
    padding-left: 100px;
    padding-top: 100px;

    @media (max-height: 768px) {
      padding-top: 50px;
    }
  }
}

.image-block {
  position: absolute;

  img {
    @include jagged-image-border;

    mask-border-width: 10px 10px 10px 10px;
  }

  .image-block-description {
    padding-top: 10px;
    text-align: right;
    font-size: 0.9em;
    margin-right: 15px;
    color: #3f1b1f;
  }
}

.drumheller-imageblock-one {
  top: 40vh;
  left: 1100px;
}

.drumheller-imageblock-two {
  top: 15vh;
  left: 1500px;

  img {
    height: 650px;
  }
}

@media (max-height: 900px) {
  .image-block .image-block-description {
    display: none;
  }

  .drumheller-imageblock-one {
    top: 35vh;
  }

  .drumheller-imageblock-two img {
    height: 500px;
  }
}
