.imageparticles-body {
  position: fixed;
  padding: 100px;
  padding-top: 20vh;
  padding-left: 50vw;
  color: white;
  font-family: ivymode, sans-serif;
  font-style: italic;
  rotate: -25deg;
  overflow: hidden;

  .imageparticles-title {
    font-weight: 800;
    font-size: 10em;
    line-height: 0.9em;
    text-transform: capitalize;
  }

  .imageparticles-description {
    padding-top: 50px;
    max-width: 360px;
    font-weight: 500;
    font-size: 2em;
    line-height: 1em;  
  }
}

.imageparticles-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}