@import '../../style';

.drumheller-section.four {
  width: 200vw;

  .drumheller-section-four {
    position: absolute;

    .main-banner .banner-description {
      width: 60%;
    }

    .bottom-image-section {
      position: absolute;
      left: 3700px;

      .upper-text {
        position: absolute;
        width: 800px;
        
        @include description-font;

        .panel-left {
          width: 500px;
          position: absolute;
          top: 15vh;
          left: -100px;
        }

        .panel-right {
          width: 500px;
          position: absolute;
          top: 15vh;
          left: 500px;
        }
      }

      .bottom-image {
        @include jagged-image-border;
        position: absolute;
        top: 35vh;
        mask-border-width: 10px 10px 0px 10px;

        img {
          height: 80vh;
          width: 800px;
          object-fit: cover;
          object-position: 40% 50%;
        }
      }
    }

    .top-image-title {
      position: absolute;
      left: 2400px;

      .lower-text {
        position: absolute;
        left: 100px;
        top: 50vh;
        width: 1000px;
        padding-left: 50px;
        font-family: ivymode, serif;
        font-weight: 400;
        color: #3F1B1F;
        font-size: 4em;
      }

      .top-image {
        @include jagged-image-border;
        position: absolute;
        mask-border-width: 0px 10px 10px 10px;
    
        img {
          height: 40vh;
        }
      }
    }
  }
}