.full-page {
  height: 100%;
  width: 100%;
}

.background-dev-dark {
  position: fixed;
  top: -150px;
  z-index: -2;
}

.error-hidden {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.fixed {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
}

#main-text {
  line-height: 130%;
  padding-top: 25vh;
  text-align: center;
}

@media (min-width: 1024px) {
  #main-text {
    padding-top: 10vh;
  }
}