.main-banner {
  width: 1000px;
  height: 100vh;
  background-color: #912034;
  overflow: hidden;
  position: absolute;

  .banner-index {
    font-family: ivymode, serif;
    font-weight: 600;
    color: #3f1b1f;
    opacity: 0.5;
    font-size: 20em;
    position: absolute;
    top: 18vh;
    left: -80px;
    overflow: hidden;
  }

  .banner-title {
    position: absolute;
    bottom: 30vh;
    color: white;
    font-family: ivymode, serif;
    font-weight: 400;
    font-size: 7em;
    left: 80px;

    @media (max-height: 768px) {
      bottom: 40vh;
    }
  }

  .banner-description {
    position: absolute;
    bottom: 18vh;
    color: white;
    font-family: ivymode, serif;
    font-weight: 400;
    font-size: 1.8em;
    left: 80px;
    white-space: pre-wrap;
    width: 65%;
  }

  .banner-right-hint {
    position: absolute;
    bottom: 18vh;
    text-align: right;
    width: 100%;
    padding-right: 50px;
    color: white;
    font-size: 0.8em;
  }
}

.fullscreen-image {
  position: absolute;
  left: 999px;

  img {
    object-fit: cover;
    height: 120vh;
    width: 1200px;
    mask-border-source: url(../Images/border-template.png);
    mask-border-slice: 44 90 90 108 fill;
    mask-border-width: 0 20px 0 0;
    mask-border-outset: 0 0 0 0;
    mask-border-repeat: stretch stretch;
  }
}
