@import '../../style';

.drumheller-section.four {
  width: 5120px;

  @media (max-width: 1440px) {
    width: 4920px;
  }

  .drumheller-section-four {
    position: absolute;

    .main-banner .banner-description {
      width: 60%;
    }

    .bottom-image-section {
      position: absolute;
      left: 4100px;

      .upper-text {
        position: absolute;
        width: 800px;

        @include description-font;

        .panel-left {
          width: 500px;
          position: absolute;
          top: 15vh;
          left: -100px;
        }

        .panel-right {
          width: 500px;
          position: absolute;
          top: 15vh;
          left: 500px;
        }
      }

      .bottom-image {
        @include jagged-image-border;

        position: absolute;
        top: 35vh;
        mask-border-width: 10px 10px 0 10px;

        img {
          height: 80vh;
          width: 800px;
          object-fit: cover;
          object-position: 40% 50%;
        }
      }
    }

    @media (max-width: 1440px) {
      .bottom-image-section {
        left: 3900px;
      }
    }

    .top-image-title {
      position: absolute;
      left: 2800px;

      .lower-text {
        position: absolute;
        left: 0;
        top: 50vh;
        width: 1000px;
        font-family: ivymode, serif;
        font-weight: 400;
        color: #3f1b1f;
        font-size: 4em;
      }

      .top-image {
        @include jagged-image-border;

        position: absolute;
        mask-border-width: 0 10px 10px 10px;

        img {
          height: 40vh;
        }
      }
    }

    @media (max-width: 1440px) {
      .top-image-title {
        left: 2600px;
      }
    }
  }
}
