.MultiplePlanes {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
  z-index: 2;
  text-align: center;
  overflow-anchor: none;
}

.MultiplePlanes-wrapper {
  display: block;
  position: absolute;
  height: 220%;
  width: 100%;
}
