.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.multiple-planes {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: auto;
  overflow-anchor: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.multiple-planes::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.multiple-planes {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.multiple-planes-wrapper {
  display: block;
  position: absolute;
  height: 220%;
  width: 100%;
}

.close-button {
  position: absolute;
  left: 90vw;
  top: 5vh;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 5rem;
  color: white;
  opacity: 0;
  z-index: -1;

  :first-child :first-child {
    padding: 0 20px;
    background-color: #111111;
  }
}

.fullscreen-text {
  position: absolute;
  left: 10vw;
  top: 12vh;
  color: white;
  font-family: condor-compressed, sans-serif;
  font-weight: 800;
  font-size: 20em;
  letter-spacing: 0.25em;
  line-height: 0.8em;
  opacity: 0;
  z-index: -1;
}

.inview-split-parent {
  overflow: hidden;
}

.inview-split-child {
  display: inline-block;
}

.hint-text {
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  left: 5vw;

  .primary {
    font-family: condor-compressed, sans-serif;
    font-weight: 100;
    font-size: 3em;  
  }

  .secondary {
    font-family: zeitung-mono, sans-serif;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 0.5px;
  }
}