@import '../../style.module';

.drumheller-section.two {
  width: 5120px;

  @media (max-width: 1440px) {
    width: 4920px;
  }

  .drumheller-section-two {
    position: absolute;

    .bottom-image-section {
      position: absolute;
      left: 3700px;

      .upper-text {
        position: absolute;
        width: 800px;
        top: 18vh;

        @include description-font;

        .panel-left {
          width: 500px;
          position: absolute;
          left: -100px;
        }

        .panel-right {
          width: 500px;
          position: absolute;
          left: 500px;
        }
      }

      .bottom-image {
        @include jagged-image-border;

        position: absolute;
        top: 35vh;
        mask-border-width: 10px 10px 0 10px;

        img {
          height: 80vh;
          min-width: 800px;
          object-fit: cover;
        }
      }
    }

    .top-video-section {
      position: absolute;
      left: 2500px;

      .lower-text {
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 50vh;
        width: 1000px;
        padding-left: 50px;
        font-family: ivymode, serif;
        font-weight: 400;
        color: #3f1b1f;
        font-size: 4em;

        @media (max-height: 768px) {
          font-size: 3em;
        }
      }

      .upper-video {
        @include jagged-image-border;

        position: absolute;
        mask-border-width: 0 10px 30px 10px;

        video {
          height: 40vh;
          width: 800px;
          object-position: 50% 0%;
          object-fit: cover;
        }
      }
    }
  }
}
