#drumheller-main-page {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #f3f4f7;
}

#track-wrapper {
  position: fixed;
}

.track {
  position: relative;
  display: flex;
  height: 100vh;
  width: fit-content;
}

#drumheller-progress {
  position: fixed;
  z-index: 2000;
  width: 100vw;
  bottom: 55px;
  overflow: hidden;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 2px;
  height: 15px;
  mask-border-source: url(./components/Images/border-template.png);
  mask-border-slice: 44 90 90 108 fill;
  mask-border-width: 5px 0 0 0;
  mask-border-outset: 0 0 0 0;
  mask-border-repeat: repeat repeat;

  > div {
    height: 15px;
    width: 100%;
    background-color: #912034;
    transform: translateX(-100%);
    border-radius: 10px;
  }
}

@mixin title-font {
  font-family: ivymode, serif;
  font-weight: 400;
  color: #3f1b1f;
  font-size: 9em;
}

@mixin description-font {
  font-family: upgrade-lights, sans-serif;
  font-weight: 500;
  color: #3f1b1f;
  font-size: 1.2em;
  white-space: nowrap;

  @media (max-height: 768px) {
    font-size: 0.9em;
  }
}

@mixin jagged-image-border {
  mask-border-source: url(./components/Images/border-template.png);
  mask-border-slice: 44 90 90 108 fill;
  mask-border-outset: 0 0 0 0;
  mask-border-repeat: stretch stretch;
}

@mixin italic-title-font {
  font-style: italic;
}

@mixin outline-title-font {
  color: #f3e2e4;
  -webkit-text-stroke: 1px #3f1b1f;
  position: relative;
  z-index: 1;
}

.inview-split-parent {
  overflow: hidden;
}

.inview-split-child {
  display: inline-block;
}

.drumheller-section {
  position: relative;
  padding-right: 100px;
  height: 100vh;
  width: 2560px;
  box-sizing: border-box;
  display: flex;
  background-color: #f3e2e4;
  overflow: hidden;

  .drumheller-italic {
    @include italic-title-font;
  }

  .drumheller-outline {
    @include outline-title-font;

    .custom-underline {
      clip-path: inset(0% 0% 0% 0%); // second value is right bounding box; change it to show streaking animation
      z-index: -1;
      display: block;
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      height: 25.5%;
      min-height: 0.5rem;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}
