.slidein-background {
  background-color: #E3655B;
  width: 100vw;
  height: fit-content;
  position: absolute;
}

.page-content {
  min-height: 80vh;
  width: 80vw;
  padding: 50px;
  margin: 15vh 10vw; // margin: 15vh 10vw;
}

.animated-text {
  font-family: forma-djr-text, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
  line-height: 1.5em;
  color: white;
  perspective-origin: center;
}

.animated-description {
  font-family: forma-djr-text, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1em;
  line-height: 1.3em;
  color: white;
  perspective-origin: center;
}

.animated-image {
  img {
    width: 600px;
    height: 400px;
    padding: 50px;  
  }
}