.generative-background {
  background-color: #e9ded0;
  width: 100vw;
  height: fit-content;
  position: absolute;
  overflow: hidden;
}

.page-content {
  min-height: 80vh;
  width: 80vw;
  padding: 0 50px;
  margin: 0 10vw;
  display: flex;
}

.title-text {
  font-size: 15em;
  font-family: 'ivymode';
  font-weight: 500;
  letter-spacing: 5px;
  color: #333333;
  line-height: 1em;
}

.body {
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 700px;
}

.left-content {
  order: 1;
  padding: 50px;
  margin-top: 20vh;
  position: fixed;
  width: 40vw;
  z-index: 10;
}

.right-content {
  order: 2;
  margin-left: 50%;
  padding-left: 50px;
}

.description-text {
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;

  .left-description {
    padding-right: 50px;
  }

  .right-description {
    width: 30%;
    transform: translate(-150px, 0);
  }
}

.cross {
  .cross-width {
    width: 100px;
    height: 100px;
    position: fixed;
    border-bottom: 2px solid #333333;
    left: 100px;
    top: 15vh;
  }

  .cross-height {
    width: 5px;
    left: 200px;
    height: 90vh;
    position: fixed;
    border-left: 2px solid #333333;
    top: 15vh;
  }
}

.lead-text {
  position: fixed;
  bottom: 10vh;
  padding-left: 150px;
}

.icon-set {
  position: fixed;
  left: 100px;
  bottom: 20vh;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  z-index: 10;

  svg {
    color: #333333;
  }
}

@media (max-height: 1080px) {
  .title-text {
    font-size: 8em;
  }

  .left-content {
    padding: 50px;
  }

  .lead-text,
  .description-text {
    font-size: 0.8em;
  }

  .cross .cross-width {
    left: 3.5vw;
    width: 100px;
  }

  .cross .cross-height {
    left: 100px;
    height: 100vh;
    top: 20vh;
  }

  .icon-set {
    left: 40px;
  }

  .left-content {
    margin-top: 8vh;
  }
}

@media (max-width: 1440px) {
  .title-text {
    font-size: 7em;
  }
}

// Dribble-specific media queries
@media (width: 1536px) and (height: 1152px) {
  .cross {
    .cross-height {
      left: 100px;
      height: 100vh;
      top: 15vh;
    }

    .cross-width {
      left: 3.5vw;
      width: 100px;
    }
  }

  .icon-set {
    left: 40px;
  }

  .left-content {
    padding: 0;

    .title-text {
      font-size: 8em;
      width: 500px;
    }
  }
}
