.generative-background {
  background-color: #E9DED0;
  width: 100vw;
  height: fit-content;
  position: absolute;
}

.page-content {
  min-height: 80vh;
  width: 80vw;
  padding: 0px 50px;
  margin: 0vh 10vw;
  display: flex;
}

.title-text {
  font-size: 10em;
  font-family: "ivymode";
  font-weight: 500;
  letter-spacing: 5px;
  color: #333;
  line-height: 1em;
}

.body { 
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 700px;
}

.left-content {
  order: 1;
  padding: 150px;
  margin-top: 20vh;
  position: fixed;
  width: 40vw;
  z-index: 10;
}


@media (max-height: 1024px) {
  .title-text {
    font-size: 5em;
  }
  .left-content {
    padding: 100px;
  }
}

.right-content {
  order: 2;
  margin-left: 50%;
  padding-left: 50px;
}

.description-text {
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;

  .left-description {
    padding-right: 50px;
  }
  
  .right-description {
    width: 30%;
    transform: translate(-150px, 0px);
  }
}

.cross {
  .cross-width {
    width: 200px;
    height: 200px;
    position: fixed;
    border-bottom: 2px solid #333;
    left: 10vw;
  }

  .cross-height {
    width: 200px;
    height: 90vh;
    position: fixed;
    border-left: 2px solid #333;
    top: 10vh;
  }
}

.lead-text {
  position: fixed;
  top: 90vh;
  padding-left: 150px;
}

.icon-set {
  position: fixed;
  left: 8vw;
  bottom: 20vh;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;

  svg {
    color: #333;
  }
}