.generative-background {
  background-color: #E9DED0;
  width: 100vw;
  height: fit-content;
  position: absolute;
}

.page-content {
  min-height: 80vh;
  width: 80vw;
  padding: 50px;
  margin: 15vh 10vw;
}

.title-text {
  left: 50vw;
  transform: translate(-50%, 0%);
  position: absolute;
  top: 760px;
  font-size: 5em;
  font-family: 'ivymode';
  font-weight: 500;
  letter-spacing: 5px;
  color: #333;
}

.body { 
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 700px;
}