.main-banner {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: max-content;
  padding-left: 50px;

  .main-subtitle {
    padding-top: 180px;
    padding-left: 100px;
    font-family: forma-djr-text, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3.5em;
    line-height: 1em;
    letter-spacing: 2px;
    color: white;
  }
  
  .animated-text {
    font-family: forma-djr-text, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20em;
    line-height: 1.5em;
    color: white;
    perspective-origin: center;
    flex: 1;
  }
}

@media (max-width: 1680px) {
  .main-banner .animated-text {
    font-size: 15em;
  }

  .main-banner .main-subtitle {
    font-size: 2em;
    padding-left: 0;
    padding-top: 150px;
  }
}

.animated-text-template {
  font-family: forma-djr-text, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20em;
  line-height: 1.5em;
  position: absolute;
  color: none;
  border: 2px solid blue;
}