.page-background {
  background-color: #fffdf0;
  width: 100vw;
  height: fit-content;
  position: absolute;
}

.page-content {
  min-height: 80vh;
  width: 80vw;
  padding: 50px;
  margin: 15vh 10vw;
}

.page-title {
  font-family: ivymode, serif;
  font-weight: 800;
  font-size: 12em;
  line-height: 1em;
  color: black;
}

@media (min-width: 2560px) {
  .page-content {
    width: 60vw;
    margin: 18vh 20vw;
  }
}

@media (max-width: 1440px) {
  .page-title {
    font-size: 8em;
  }
}

.page-description {
  display: flex;
  width: 100%;
  padding: 100px;
  flex-direction: row;
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;

  .title {
    width: 20%;
    font-size: 0.8em;
  }

  .description {
    width: 80%;
    font-size: 1em;
  }
}

#container {
  height: 120vh;
  overflow: visible;
  padding: 0;
  position: relative;
}

.inview-split-parent {
  overflow: hidden;
}

.inview-split-child {
  display: inline-block;
}
