#work-page {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #f3f4f7;
}

#animation-wrapper {
  position: fixed;
}

.track {
  position: relative;
  display: flex;
  height: 100vh;
  width: fit-content;
}

#progress {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  bottom: 55px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 10px;
  mix-blend-mode: exclusion;

  > div {
    height: 10px;
    width: 100%;
    background-color: #0C4C8F;
    transform: translateX(-100%);
  }
}

.wall {
  -webkit-box-shadow: inset 188px 0 55px -198px rgba(128, 128, 128, 1);
  -moz-box-shadow: inset 188px 0 55px -198px rgba(128, 128, 128, 1);
  box-shadow: inset 188px 0 55px -198px rgba(128, 128, 128, 1);
  mix-blend-mode: multiply;
  margin-left: -300px;
  z-index: -1;

  .img-wall {
    width: 2500px;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
}

.scroll-hint {
  position: fixed;
  top: 20px;
  right: 40px;
  font-family: ivymode, serif;
  font-weight: 400;
  width: 250px;
  padding: 20px;
}