#work-page {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #FFE9BC;
}

#animation-wrapper {
  position: fixed;
}

.track {
  position: relative;
  display: flex;
  height: 100vh;
  width: fit-content;
}

#progress {
  position: absolute;
  top: 90vh;
  left: 45vw;
  z-index: 1000;
  width: 100px;
  bottom: 100px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 3px;

  > div {
    height: 3px;
    width: 100%;
    background-color: black;
    transform: translateX(-100%);
  }
}

.img-wall {
  width: 2500px;
  height: 100vh;
  position: relative;
}