#work-page {
  width: 100vw;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  background-color: #111111;

  .background {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.2;
  }
}

.work-content {
  position: absolute;
  width: 80vw;
  padding: 50px 70px;
  border: 1px #999999 dashed;
  margin: 15vh 10vw;
}

.work-image {
  width: 50vw;
  position: absolute;
  top: -10px;
  left: 50vw;

  .work-description {
    font-size: 12em;
    line-height: 0.8em;
    letter-spacing: 1px;
    font-family: ivymode, serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: right;
    width: 50vw;
    font-style: italic;
    color: #ffffff;
  }
}

@media (min-width: 2560px) {
  .work-content {
    width: 60vw;
    margin: 15vh 20vw;
  }
}

@media (max-height: 1080px) {
  .work-content {
    margin: 25vh 10vw;
    padding: 20px 25px;
  }

  .work-image .work-description {
    font-size: 9em;
  }
}
