#work-page {
  width: 100vw;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  background-color: #edeced;
}

.scroll-hint {
  position: fixed;
  top: 20px;
  right: 40px;
  font-family: ivymode, serif;
  font-weight: 400;
  width: 250px;
  padding: 20px;
}

.work-content {
  position: absolute;
  width: 80vw;
  padding: 50px 70px;
  border: 1px #999999 dashed;
  margin: 15vh 10vw;
}

.work-image {
  width: 50vw;
  position: absolute;
  top: -10px;
  left: 50vw;

  .work-description {
    font-size: 12em;
    line-height: 0.8em;
    letter-spacing: 1px;
    font-family: ivymode, serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: right;
    width: 50vw;
    font-style: italic;
    color: black;
  }
}

@media (min-width: 2560px) {
  .work-content {
    width: 60vw;
    margin: 15vh 20vw;
  }
}

@media (max-height: 900px) {
  .work-content {
    margin: 25vh 10vw;
    padding: 20px 20px;
  }

  .work-image .work-description {
    font-size: 9em;
  }
}

.box-image-background {
  opacity: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
